source/src/main/resources/xsd/testdatalib.xsd

<!--

    Cerberus Copyright (C) 2013 - 2017 cerberustesting
    DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.

    This file is part of Cerberus.

    Cerberus is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Cerberus is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Cerberus.  If not, see <http://www.gnu.org/licenses/>.

-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="library">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="testdatalib" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>                
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="system" minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string" name="environment" minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string" name="country" minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string" name="group" minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="database" minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string" name="script" minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string" name="servicepath" minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string" name="method" minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string" name="envelope" minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string" name="description" minOccurs="0" maxOccurs="1" />
              <xs:element name="testdatalibdataset" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="testdatalibdata" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="subdata"/>
                          <xs:element type="xs:string" name="value" minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="parswinganswer" minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="column" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:string" name="descriptionsubdata" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>


